build-PDSClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/utenti.txt
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Debug
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/fd
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Server.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUtente.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUser.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.vc.pdb
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.pdb
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.ilk
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.exe
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocket.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerDoc.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Server.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Server.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtenteServer.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QTcpServerMio.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_predefs.h
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/main.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/DocOperation.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/CRDT.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Char.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockWriter.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockReader.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/asd
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/.qmake.stash
Server2/PdsServer.pro.user.ae2f2ae
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
