build-PdsServer-Desktop_Qt_5_12_5_MinGW_32_bit-Debug
build-PdsClient-Desktop_Qt_5_12_5_MinGW_32_bit-Debug
Server2/PdsServer.pro.user.ae2f2ae
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
Client2/PdsClient.pro.user
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/utenti.txt
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Prova
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.PdsServer.Release
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.PdsServer.Debug
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Debug
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/WorkerSocket.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/WorkerDoc.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Server.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QUtenteServer.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QUtente.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QUser.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QTcpServerMio.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/PdsServer.exe
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerSocket.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerSocket.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerDoc.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerDoc.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_Server.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_Server.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtenteServer.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtenteServer.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtente.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtente.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QTcpServerMio.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QTcpServerMio.cpp
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_predefs.h
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/main.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/DocOperation.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/CRDT.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Char.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/BlockWriter.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/BlockReader.o
build-PdsServer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/.qmake.stash
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.textedit.Release
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.textedit.Debug
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Release
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Debug
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/WorkerSocketClient.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/TextEdit.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/textedit.exe
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/ServerSelection.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/RecentDocsDialogs.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QUtente.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/QUser.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_textedit.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_textedit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/NewProfileDialog.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerSocketClient.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_WorkerSocketClient.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_TextEdit.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_TextEdit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_ServerSelection.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_ServerSelection.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_RecentDocsDialogs.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_RecentDocsDialogs.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtente.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_QUtente.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_predefs.h
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_NewProfileDialog.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_NewProfileDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_LoginDialog.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_LoginDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_EditProfile.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_EditProfile.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_ClickableLabel.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_ClickableLabel.cpp
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/main.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/LoginDialog.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/EditProfile.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/DocOperation.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/CRDT.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/ClickableLabel.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Char.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/BlockWriter.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/BlockReader.o
build-PdsClient-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/.qmake.stash
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/.qmake.stash
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockReader.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockWriter.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Char.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/CRDT.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/DocOperation.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/EditProfile.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/LoginDialog.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/main.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ClickableLabel.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_EditProfile.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_EditProfile.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoginDialog.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_LoginDialog.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_NewProfileDialog.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_predefs.h
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RecentDocsDialogs.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ServerSelection.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_ServerSelection.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_TextEdit.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_TextEdit.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocketClient.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/qrc_textedit.cpp
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/qrc_textedit.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUser.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUtente.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/ServerSelection.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/textedit.exe
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/textedit.ilk
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/TextEdit.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/textedit.pdb
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/textedit.vc.pdb
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Debug
build-PdsClient-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/.qmake.stash
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockReader.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/BlockWriter.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Char.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/CRDT.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/DocOperation.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/main.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_predefs.h
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QTcpServerMio.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtente.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtenteServer.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Server.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_Server.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerDoc.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocket.cpp
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/moc_WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.exe
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.ilk
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.pdb
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/PdsServer.vc.pdb
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUser.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUtente.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/Server.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/debug/WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Debug
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_12_5_MSVC2017_32bit-Debug/utenti.txt
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/.qmake.stash
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockReader.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockWriter.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Char.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/CRDT.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/DocOperation.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/EditProfile.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/LoginDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/main.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ClickableLabel.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_EditProfile.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_EditProfile.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_LoginDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_NewProfileDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_predefs.h
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_RecentDocsDialogs.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ServerSelection.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_TextEdit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_TextEdit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocketClient.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/qrc_textedit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/qrc_textedit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUser.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtente.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/ServerSelection.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/TextEdit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.vc.pdb
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Debug
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/.qmake.stash
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockReader.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockWriter.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Char.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/CRDT.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/DocOperation.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/main.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_predefs.h
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QTcpServerMio.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtenteServer.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_Server.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_Server.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerDoc.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocket.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.exe
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.ilk
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.pdb
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.vc.pdb
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUser.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtente.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Server.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Debug
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/utenti.txt
Client2/PdsClient.pro.user
Server2/PdsServer.pro.user
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_LoginDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ServerSelection.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.exe
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.ilk
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.pdb
Client2/PdsClient.pro.user
Server2/PdsServer.pro.user
Client2/PdsClient.pro.user
Server2/PdsServer.pro.user
Client2/PdsClient.pro.user
Server2/PdsServer.pro.user
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/2.jpg
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/2.jpg
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova10
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova11
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova12
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova13
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova2
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova3
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova4
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova5
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova6
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova7
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova8
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova9
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova14
Client2/PdsClient.pro.user
Server2/PdsServer.pro.user
*.user
*.user
