build-PdsServer-Desktop_Qt_5_12_5_MinGW_32_bit-Debug
build-PdsClient-Desktop_Qt_5_12_5_MinGW_32_bit-Debug
Server2/PdsServer.pro.user.ae2f2ae
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
Server2/PdsServer.pro.user
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/.qmake.stash
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockReader.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockWriter.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Char.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/CRDT.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/DocOperation.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/EditProfile.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/LoginDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/main.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ClickableLabel.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ClickableLabel.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_EditProfile.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_EditProfile.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_LoginDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_LoginDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_NewProfileDialog.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_predefs.h
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_RecentDocsDialogs.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ServerSelection.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_ServerSelection.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_TextEdit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_TextEdit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocketClient.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/NewProfileDialog.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/qrc_textedit.cpp
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/qrc_textedit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUser.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtente.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/RecentDocsDialogs.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/ServerSelection.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.exe
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.ilk
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/TextEdit.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.pdb
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/textedit.vc.pdb
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerSocketClient.obj
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Debug
build-PdsClient-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/.qmake.stash
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockReader.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/BlockWriter.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Char.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/CRDT.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/DocOperation.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/main.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_predefs.h
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QTcpServerMio.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtente.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtenteServer.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_Server.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_Server.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerDoc.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocket.cpp
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/moc_WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.exe
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.ilk
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.pdb
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/PdsServer.vc.pdb
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QTcpServerMio.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUser.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtente.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/QUtenteServer.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/Server.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerDoc.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/debug/WorkerSocket.obj
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Debug
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Makefile.Release
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova10
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova11
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova4
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/Prova6
build-PdsServer-Desktop_Qt_5_15_1_MSVC2019_32bit-Debug/utenti.txt
